extends layout

block content
    .container-fluid.pt-4.px-4
        .row.g-4
            .col-sm-12.col-xl-12
                .bg-light.rounded.h-100.p-4
                      h6.mb-4 About us
                      p= description
                      .col-sm-12.col-xl-12
            .col-sm-12.col-xl-12
                .bg-light.rounded.h-100.p-4
                      h6.mb-4 Members
                      dl.row.mb-0
                        each item in members
                            dt.col-sm-4= item.date
                            dd.col-sm-8= item.note 
                        