extends layout

block content
    .container-fluid.pt-4.px-4
        .bg-light.text-center.rounded.p-4
            .d-flex.align-items-center.mb-4
                form(action="#{ actionUri }" method="post")
                    label(for="element_name") Name
                    input(type="text" id="element_name" name="element_name") 
                    label(for="element_description") Description
                    input(type="text" id="element_description" name="element_description") 
                    label(for="element_amount") Amount
                    input(type="text" id="element_amount" name="element_amount") 
                    button.btn.btn-sm.btn-primary(type="submit") Add Element
        