extends layout

block content
  .container-fluid.pt-4.px-4
    .bg-light.text-center.rounded.p-4
      .d-flex.align-items-center.justify-content-between.mb-4
        h6.mb-0 ContainerName
        a(href) Link
      .table-responsive
        table.table.text-start.align-middle.table-bordered.table-hover.mb-0
          thead
            tr.text-dark
              th(scope="col")
                input.form-check-input(type="checkbox")
              th(scope="col") Name
              th(scope="col") Amount
              th(scope="col") Discription
              th(scope="col") Action
          tbody
            tr
              td
                input.form-check-input(type="checkbox")
              td AO3400
              td 48
              td Транзистор N-MOSFET 30В 5.7А [SOT-23-3]
              td
                a.btn.btn-sm.btn-primary Detail
            tr
              td
                input.form-check-input(type="checkbox")
              td AO3400
              td 48
              td Транзистор N-MOSFET 30В 5.7А [SOT-23-3]
              td
                a.btn.btn-sm.btn-primary Detail
            tr
              td
                input.form-check-input(type="checkbox")
              td AO3400
              td 48
              td Транзистор N-MOSFET 30В 5.7А [SOT-23-3]
              td
                a.btn.btn-sm.btn-primary Detail
            tr
              td
                input.form-check-input(type="checkbox")
              td AO3400
              td 48
              td Транзистор N-MOSFET 30В 5.7А [SOT-23-3]
              td
                a.btn.btn-sm.btn-primary Detail