doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=decice-width, initial-scale=1.0')
    title= title

    link(rel="preconnect", href="https://fonts.googleapis.com")
    link(rel="preconnect", href="https://fonts.gstatic.com", crossorigin="")
    link(href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&amp;display=swap", rel="stylesheet")
    link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css", rel="stylesheet")
    link(href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css", rel="stylesheet")
    link(href="/bootstrap/lib/owlcarousel/assets/owl.carousel.min.css", rel="stylesheet")
    link(href="/bootstrap/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css", rel="stylesheet")
    link(href="/bootstrap/css/bootstrap.min.css", rel="stylesheet")
    link(href="/bootstrap/css/style.css", rel="stylesheet")
  body
    .container-xxl.position-relative.bg-white.d-flex.p-0
      #spinner.bg-white.position-fixed.translate-middle.w-100.vh-100.top-50.start-50.d-flex.align-items-center.justify-content-center
        .spinner-border.text-primary(style="width: 3rem; height: 3rem;", role="status")

      .sidebar.pe-4.pb-3
        nav.navbar.bg-light.navbar-light
          a.navbar-brand.mx-4.mb-3(href="/")
            h3.text-primary
              i.fa.fa-hashtag.me-2
              span ELEMENTS
          .navbar-nav.w-100
            a.nav-item.nav-link.active(href="/")
              i.fa.fa-tachometer-alt.me-2
              span Elements
            a.nav-item.nav-link.active(href="/about")
              i.fa.fa-pencil-alt.me-2
              span About us
      .content
        nav.navbar.navbar-expand.bg-light.navbar-light.sticky-top.px-4.py-0
          a.navbar-brand.d-flex.d-lg-none.me-4(href="/")
            h2.text-primary.mb-0
              i.fa.fa-hashtag
          a.sidebar-toggler.flex-shrink-0(href="#")
            i.fa.fa-bars
          form.d-none.d-md-flex.ms-4
            input.form-control.border-0(type="search", placeholder="Search")
        
        block content
        .container-fluid.pt-4.px-4
          .bg-light.rounded-top.p-4
            span Saharok

    script(src="https://code.jquery.com/jquery-3.4.1.min.js")
    script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js")
    script(src="bootstrap/lib/easing/easing.min.js")
    script(src="bootstrap/lib/chart/chart.min.js")
    script(src="bootstrap/lib/waypoints/waypoints.min.js")
    script(src="bootstrap/lib/owlcarousel/owl.carousel.min.js")
    script(src="bootstrap/lib/tempusdominus/js/moment.min.js")
    script(src="bootstrap/lib/tempusdominus/js/moment-timezone.min.js")
    script(src="bootstrap/lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js")
    script(src="bootstrap/js/main.js")